<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo"> Интернет магазин</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input type="text" class="search-field" v-model="searchInput">
                <button class="bts-search" @click="itemSearch(searchInput)">Поиск</button>
            </form>
            <button class="btn-cart" type="button" @click="openCart">Корзина</button>
            <div class="cart-block" :class="{invisible: !open}"></div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of products" :key="product.id_product">
                <img :src="imgCatalog" alt="some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}Руб.</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>